{% extends "base.html.twig" %}

{% block body %}

{{form_start(form)}}
{{form_row(form.firstName)}}
{{form_row(form.lastName)}}
{{form_row(form.email)}}
{{form_row(form.phoneNumber)}}
{{form_row(form.address)}}
{{form_row(form.category)}}
<br />
<div class="contact-form-flex ">
    <div>
        {{form_row(form.submit)}}
    </div>
    <div>
        <a href="{{ path('contacts') }}" class="waves-effect waves-light btn">Annuler</a>
    </div>
</div>
{{form_end(form)}}

{% endblock %}