{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}


<div class="contact-form-flex">
    {# Filter Form #}
    <div>
        {{form_start(form)}}
        {{form_row(form.title)}}
        <br />
        {{form_row(form.submit)}}
        {{form_end(form)}}
    </div>
    <div>
        {% include('contacts/_search.html.twig') %}
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Voir le contact</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr class="custom-row">
            <td>{{ contact.Lastname }}</td>
            <td>{{ contact.firstName }}</td>
            <td><a href="{{ path('contact', {'id':contact.id}) }}" class="waves-effect waves-light btn">Voir</a> </td>
        </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock %}