{% extends 'base.html.twig' %}

{% block title %}Hello ContactsController!{% endblock %}

{% block body %}

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Adresse</th>
            <th>Categorie</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.Lastname }}</td>
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phoneNumber }}</td>
            <td>{{ contact.address }}</td>
            <td>{{ contact.category.title }}</td>
        </tr>
        {% endfor %}
    </tbody>
    
</table>


{% endblock %}
