<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper navbar ">
            <a href="#!" class="brand-logo">@</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('contacts') }}" class="navlink">Contacts</a></li>
                <li><a href="{{ path('contact_create') }}" class="navlink">Créer un contact</a></li>
                <li><a href="{{ path('contacts_export') }}" class="navlink">Exporter</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ path('contacts') }}" class="navlink">Contacts</a></li>
    <li><a href="{{ path('contact_create') }}" class="navlink">Créer un contact</a></li>
    <li><a href="{{ path('contacts_export') }}" class="navlink">Exporter</a></li>
</ul>